@page
@model WscPrinter_Setup.Pages.WscBuilder.Step06_choose_skin_and_styles.Step06ChooseSkinAndStylesModel
@{
}

<h1>Step 6</h1>
<!-- <p>@Localizer["your preferred style"]</p>
<div>
  <div style="border:2px solid ">one</div>
  <div style="border:2px solid ">two</div>
  <div style="border:2px solid ">three</div>
</div>
<div>
  <div style="border:2px solid ">four</div>
  <div style="border:2px solid ">five</div>
  <div style="border:2px solid ">six</div>
</div>-->
<p>@Localizer["your preferred skin"]</p>
<div>
  <div style="border:2px solid ">one</div>
  <div style="border:2px solid ">two</div>
  <div style="border:2px solid ">three</div>
</div>
<div>
  <div style="border:2px solid ">four</div>
  <div style="border:2px solid ">five</div>
  <div style="border:2px solid ">six</div>
</div>

<a asp-page="/WscBuilder/Step07_choose_layout/Index">Click</a>
