@page
@model WscPrinter_Setup.Pages.WscBuilder.Step06_choose_skin_and_styles.Step06ChooseSkinAndStylesModel
@{
}
<style>

  .divbckimg {
    background-size: contain;
    border: 2px solid;
    width: 300px;
    height: 300px;
    background: no-repeat center center;
    background-size: contain;
    /* background-repeat: no-repeat; */
  }
</style>

<h1>Step 6</h1>
<p>@Localizer["Choose your preferred skin/style"]</p>
<!-- <p>@Localizer["Choose your preferred style"]</p>
<div>
  <div style="border:2px solid ">one</div>
  <div style="border:2px solid ">two</div>
  <div style="border:2px solid ">three</div>
</div>
<div>
  <div style="border:2px solid ">four</div>
  <div style="border:2px solid ">five</div>
  <div style="border:2px solid ">six</div>
</div>-->
<!--<p>@Localizer["your preferred skin"]</p>-->
<div>
  <a href="#" onclick="goToSeven(1);">
    <div class="divbckimg" style="background-image: url('/img/Skins/Skin1.jpg')">
    </div>
  </a>
  <a href="#" onclick="goToSeven(2);">
    <div class="divbckimg" style="background-image: url('/img/Skins/Skin2.jpg')">
    </div>
  </a>
  <a href="#" onclick="goToSeven(3);">
    <div class="divbckimg" style="background-image: url('/img/Skins/Skin3.jpg')">
    </div>
  </a>
</div>
<div>
  <a href="#" onclick="goToSeven(4);">
    <div class="divbckimg" style="background-image: url('/img/Skins/Skin4.jpg')">
    </div>
  </a>
  <a href="#" onclick="goToSeven(5);">
    <div class="divbckimg" style="background-image: url('/img/Skins/Skin5.jpg')">
    </div>
  </a>
  <a href="#" onclick="goToSeven(6);">
    <div class="divbckimg" style="background-image: url('/img/Skins/Skin6.jpg')">
    </div>
  </a>
</div>



<script>
  function goToSeven(chosenSkin, chosenStyle) {
    document.location.href = `/WscBuilder/Step07_choose_layout/Index?skin=${chosenSkin}`;
    return false;
  }
</script>
<!-- <a asp-page="/WscBuilder/Step07_choose_layout/Index">Click</a>-->
