@page
@model WscPrinter_Setup.Pages.WscBuilder.Step06_choose_skin_and_styles.Step06ChooseSkinAndStylesModel
@{
  ViewData["Title"] = "Step-6";
}
<style>

  .divbckimg {
    background-size: contain;
    border: 2px solid;
    width: 300px;
    height: 300px;
    background: no-repeat center center;
    background-size: contain;
    /* background-repeat: no-repeat; */
  }
</style>
<!-- <h1>Step 6</h1>-->
<!-- <p>@Localizer["Choose your preferred skin/style"]</p>-->
<!-- <p>@Localizer["Choose your preferred style"]</p>-->
<!--<div>
  <div style="border:2px solid ">one</div>
  <div style="border:2px solid ">two</div>
  <div style="border:2px solid ">three</div>
</div>
<div>
  <div style="border:2px solid ">four</div>
  <div style="border:2px solid ">five</div>
  <div style="border:2px solid ">six</div>
</div>-->
<!--<p>@Localizer["your preferred skin"]</p>-->
<!--<div>
  <a href="#" onclick="goToSeven(1);">
    <div class="divbckimg" style="background-image: url('/img/Skins/Skin1.jpg')">
    </div>
  </a>
  <a href="#" onclick="goToSeven(2);">
    <div class="divbckimg" style="background-image: url('/img/Skins/Skin2.jpg')">
    </div>
  </a>
  <a href="#" onclick="goToSeven(3);">
    <div class="divbckimg" style="background-image: url('/img/Skins/Skin3.jpg')">
    </div>
  </a>
</div>
<div>
  <a href="#" onclick="goToSeven(4);">
    <div class="divbckimg" style="background-image: url('/img/Skins/Skin4.jpg')">
    </div>
  </a>
  <a href="#" onclick="goToSeven(5);">
    <div class="divbckimg" style="background-image: url('/img/Skins/Skin5.jpg')">
    </div>
  </a>
  <a href="#" onclick="goToSeven(6);">
    <div class="divbckimg" style="background-image: url('/img/Skins/Skin6.jpg')">
    </div>
  </a>
</div>



<script>
  function goToSeven(chosenSkin, chosenStyle) {
    document.location.href = `/WscBuilder/Step07_choose_layout/Index?skin=${chosenSkin}`;
    return false;
  }
</script>
-->
<!--
=============================================
  WBUILDER - STEP 6
==============================================
-->
<div class="wbuilder-page">
  <div class="wbuilder-column-1 d-lg-flex align-items-center">
    <div class="wbuilder-img-logo"><a asp-area="" asp-page="/Index"><img src="/images/website/logo_wscprinter.png" alt=""></a></div>
    <div class="wbuilder-info" data-aos="fade-right" data-aos-duration="1200">
      <h2>Scegli un tema <br />che ti piace  </h2>
    </div>
  </div>
  <div class="wbuilder-column-2 d-lg-flex align-items-center">
    <div class="wbuilder-info" data-aos="fade-left" data-aos-duration="1200">
      <p class="text"><b>Ecco alcuni temi che ti potrebbero interessare</b><br /> Scegline uno: se vorrai, potrai modificarlo o  <br />cambiarlo anche in seguito... </p>
      <form id="chooseSkin" action="/WscBuilder/Step07_choose_layout/Index" method="get">
        <div class="step-block">
          <div class="row ">
            <div class="col-sm-6 choose-skin">
              <div class="custom-radio">
                <input type="radio" name="skin" class="custom-control-input" id="classB_skin_blue_dark" value="classB/classB_skin_blue_dark.css" required="">
                <label class="custom-control-label" for="classB_skin_blue_dark"><img src="/images/website/classB_skin_blue_dark.png" alt="" class="img-responsive"></label>
              </div>
            </div>
            <div class="col-sm-6 choose-skin">
              <div class="custom-radio">
                <input type="radio" name="skin" class="custom-control-input" id="classB_skin_blue_light" value="classB/classB_skin_blue_light.css" required="">
                <label class="custom-control-label" for="classB_skin_blue_light"><img src="/images/website/classB_skin_blue_light.png" alt="" class="img-responsive"></label>
              </div>
            </div>
            <div class="col-sm-6 choose-skin">
              <div class="custom-radio">
                <input type="radio" name="skin" class="custom-control-input" id="classB_skin_green" value="classB/classB_skin_green.css" required="">
                <label class="custom-control-label" for="classB_skin_green"><img src="/images/website/classB_skin_green.png" alt="" class="img-responsive"></label>
              </div>
            </div>
            <div class="col-sm-6 choose-skin">
              <div class="custom-radio">
                <input type="radio" name="skin" class="custom-control-input" id="classB_skin_lime" value="classB/classB_skin_lime.css" required="">
                <label class="custom-control-label" for="classB_skin_lime"><img src="/images/website/classB_skin_lime.png" alt="" class="img-responsive"></label>
              </div>
            </div>
            <div class="col-sm-6 choose-skin">
              <div class="custom-radio">
                <input type="radio" name="skin" class="custom-control-input" id="classB_skin_magenta" value="classB/classB_skin_magenta.css" required="">
                <label class="custom-control-label" for="classB_skin_magenta"><img src="/images/website/classB_skin_magenta.png" alt="" class="img-responsive"></label>
              </div>
            </div>
            <div class="col-sm-6 choose-skin">
              <div class="custom-radio">
                <input type="radio" name="skin" class="custom-control-input" id="classB_skin_red" value="classB/classB_skin_red.css" required="">
                <label class="custom-control-label" for="classB_skin_red"><img src="/images/website/classB_skin_red.png" alt="" class="img-responsive"></label>
              </div>
            </div>
            <div class="col-sm-6 choose-skin">
              <div class="custom-radio">
                <input type="radio" name="skin" class="custom-control-input" id="classB_skin_orange" value="classB/classB_skin_orange.css" required="">
                <label class="custom-control-label" for="classB_skin_orange"><img src="/images/website/classB_skin_orange.png" alt="" class="img-responsive"></label>
              </div>
            </div>
            <div class="col-sm-6 choose-skin">
              <div class="custom-radio">
                <input type="radio" name="skin" class="custom-control-input" id="classB_skin_yellow" value="classB/classB_skin_yellow.css" required="">
                <label class="custom-control-label" for="classB_skin_yellow"><img src="/images/website/classB_skin_yellow.png" alt="" class="img-responsive"></label>
              </div>
            </div>
          </div>
        </div>
        <div class="wbuilder-button" data-aos="fade-left" data-aos-duration="1200">
          <a href="#" class="theme-btn-nine" onclick="validateSubmit('chooseSkin','skin')">@Localizer["Continue"]</a>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  function validateSubmit(frmId, nameOfItem) {
    const theForm = document.getElementById(frmId);
    const chkBxs = theForm.elements.namedItem(nameOfItem);
    let canGo = false;
    chkBxs.forEach(chbx => {
      canGo = canGo || chbx.checked;
    });
    if (canGo) {
      theForm.submit()
    } else {
      alert("selezionane almeno uno");
    }

  }


</script>
