@page
@model WscPrinter_Setup.Pages.Explore.ExploreModel
@{
}
<div class="fancy-feature-twentyOne mt-0 md-mt-0" id="template">
    <div class="container">
        <div class="title-style-eight text-center mb-0 md-mb-0" data-aos="fade-up" data-aos-duration="1200">
            <h2>Esplora fantastici esempi di siti <br />Web To Print creati con Wsc Printer </h2>
            <p>Naviga alcuni esempi di Web To Print realizzati con Wsc Printer</p>
        </div>
    </div>
</div>
<div class="pt-80 pb-50 md-pt-100 md-pb-0">
    <div class="wbuild-large-container">
        <div class="row">
            <div class="col-lg-4">
                <div class="theme-demo mb-50 md-mb-50">
                    <div class="content-wrapper">
                        <div class="title-wrapper">
                            <a href="https://www.grandissimoformato.it" target="_blank" class="website"><span class="link-wrappers"> Grandissimo Formato </span></a>
                            <a href="https://www.grandissimoformato.it" target="_blank" class="link"><span class="link-wrappers"><i class="fa fa-external-link"></i> </span></a>
                        </div>
                    </div>
                    <div class="image-wrapper">
                        <a href="https://www.grandissimoformato.it" target="_blank">
                            <img src="images/website/ws_reference_1.png" alt="">
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="theme-demo mb-50 md-mb-50">
                    <div class="content-wrapper">
                        <div class="title-wrapper">
                            <a href="https://www.loretoprint.it" target="_blank" class="website"><span class="link-wrappers">Loretoprint </span></a>
                            <a href="https://www.loretoprint.it" target="_blank" class="link"><span class="link-wrappers"><i class="fa fa-external-link"></i> </span></a>

                        </div>
                    </div>
                    <div class="image-wrapper">
                        <a href="https://www.loretoprint.it" target="_blank">
                            <img src="images/website/ws_reference_9.png" alt="">
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="theme-demo mb-50 md-mb-50">
                    <div class="content-wrapper">
                        <div class="title-wrapper">
                            <a href="https://www.printangers.com" target="_blank" class="website"><span class="link-wrappers"> Printangers </span></a>
                            <a href="https://www.printangers.com" target="_blank" class="link"><span class="link-wrappers"><i class="fa fa-external-link"></i> </span></a>
                        </div>
                    </div>
                    <div class="image-wrapper">
                        <a href="https://www.printangers.com" target="_blank">
                            <img src="images/website/ws_reference_4.png" alt="">
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="theme-demo mb-50 md-mb-50">
                    <div class="content-wrapper">
                        <div class="title-wrapper">
                            <a href="https://www.doctaprint.it" target="_blank" class="website"><span class="link-wrappers">Docta Print </span></a>
                            <a href="https://www.doctaprint.it" target="_blank" class="link"><span class="link-wrappers"><i class="fa fa-external-link"></i> </span></a>
                        </div>
                    </div>
                    <div class="image-wrapper">
                        <a href="https://www.doctaprint.it" target="_blank">
                            <img src="images/website/ws_reference_3.png" alt="">
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="theme-demo mb-50 md-mb-50">
                    <div class="content-wrapper">
                        <div class="title-wrapper">
                            <a href="https://www.printitaly.it" target="_blank" class="website"><span class="link-wrappers"> Print Italy </span></a>
                            <a href="https://www.printitaly.it" target="_blank" class="link"><span class="link-wrappers"><i class="fa fa-external-link"></i> </span></a>
                        </div>
                    </div>
                    <div class="image-wrapper">
                        <a href="https://www.printitaly.it" target="_blank">
                            <img src="images/website/ws_reference_7.png" alt="">
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="theme-demo mb-50 md-mb-50">
                    <div class="content-wrapper">
                        <div class="title-wrapper">
                            <a href="https://www.stampadipiu.it" " target="_blank" class="website"><span class="link-wrappers"> Stampa Di Più </span></a>
                            <a href="https://www.stampadipiu.it" target="_blank" class="link"><span class="link-wrappers"><i class="fa fa-external-link"></i> </span></a>
                        </div>
                    </div>
                    <div class="image-wrapper">
                        <a href="https://www.stampadipiu.it" target="_blank">
                            <img src="images/website/ws_reference_6.png" alt="">
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="theme-demo mb-50 md-mb-50">
                    <div class="content-wrapper">
                        <div class="title-wrapper">
                            <a href="https://store.delducaprint.it" target="_blank" class="website"><span class="link-wrappers"> Del Duca Print </span></a>
                            <a href="https://store.delducaprint.it" target="_blank" class="link"><span class="link-wrappers"><i class="fa fa-external-link"></i> </span></a>
                        </div>
                    </div>
                    <div class="image-wrapper">
                        <a href="https://store.delducaprint.it" target="_blank">
                            <img src="images/website/ws_reference_10.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="theme-demo mb-50 md-mb-50">
                    <div class="content-wrapper">
                        <div class="title-wrapper">
                            <a href="https://www.espoprint.it" target="_blank" class="website"><span class="link-wrappers"> Espo Print </span></a>
                            <a href="https://espoprint.it" target="_blank" class="link"><span class="link-wrappers"><i class="fa fa-external-link"></i> </span></a>
                        </div>
                    </div>
                    <div class="image-wrapper">
                        <a href="https://www.espoprint.it" target="_blank">
                            <img src="images/website/ws_reference_8.png" alt="">
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="theme-demo mb-50 md-mb-50">
                    <div class="content-wrapper">
                        <div class="title-wrapper">
                            <a href="https://www.mystand24.it" target="_blank" class="website"><span class="link-wrappers"> Mystand24 </span></a>
                            <a href="https://www.mystand24.it" target="_blank" class="link"><span class="link-wrappers"><i class="fa fa-external-link"></i> </span></a>
                        </div>
                    </div>
                    <div class="image-wrapper">
                        <a href="https://www.mystand24.it" target="_blank">
                            <img src="images/website/ws_reference_2.png" alt="">
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="theme-demo mb-50 md-mb-50">
                    <div class="content-wrapper">
                        <div class="title-wrapper">
                            <a href="http://www.albdesign.al" target="_blank" class="website"><span class="link-wrappers"> Albdesign </span></a>
                            <a href="http://www.albdesign.al" target="_blank" class="link"><span class="link-wrappers"><i class="fa fa-external-link"></i> </span></a>
                        </div>
                    </div>
                    <div class="image-wrapper">
                        <a href="http://www.albdesign.al" target="_blank">
                            <img src="images/website/ws_reference_5.png" alt="">
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="theme-demo mb-50 md-mb-50">
                    <div class="content-wrapper">
                        <div class="title-wrapper">
                            <a href="https://www.stampaestampa.eu" target="_blank" class="website"><span class="link-wrappers"> Stampa e Stampa </span></a>
                            <a href="https://www.stampaestampa.eu" target="_blank" class="link"><span class="link-wrappers"><i class="fa fa-external-link"></i> </span></a>
                        </div>
                    </div>
                    <div class="image-wrapper">
                        <a href="https://www.stampaestampa.eu" target="_blank">
                            <img src="images/website/ws_reference_11.png" alt="">
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="theme-demo mb-50 md-mb-50">
                    <div class="content-wrapper">
                        <div class="title-wrapper">
                            <a href="https://www.mybrochure.it" target="_blank" class="website"><span class="link-wrappers"> MyBrochure</span></a>
                            <a href="https://www.mybrochure.it" target="_blank" class="link"><span class="link-wrappers"><i class="fa fa-external-link"></i> </span></a>
                        </div>
                    </div>
                    <div class="image-wrapper">
                        <a href="https://www.mybrochure.it" target="_blank">
                            <img src="images/website/ws_reference_12.png" alt="">
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="theme-demo mb-50 md-mb-50">
                    <div class="content-wrapper">
                        <div class="title-wrapper">
                            <a href="https://www.mnprint.it" target="_blank" class="website"><span class="link-wrappers"> MnPrint </span></a>
                            <a href="https://www.mnprint.it" target="_blank" class="link"><span class="link-wrappers"><i class="fa fa-external-link"></i> </span></a>
                        </div>
                    </div>
                    <div class="image-wrapper">
                        <a href="https://www.mnprint.it" target="_blank">
                            <img src="images/website/ws_reference_13.png" alt="">
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="theme-demo mb-50 md-mb-50">
                    <div class="content-wrapper">
                        <div class="title-wrapper">
                            <a href="https://www.stampiamo24.it" target="_blank" class="website"><span class="link-wrappers"> Stampiamo24 </span></a>
                            <a href="https://www.stampiamo24.it" target="_blank" class="link"><span class="link-wrappers"><i class="fa fa-external-link"></i> </span></a>
                        </div>
                    </div>
                    <div class="image-wrapper">
                        <a href="https://www.stampiamo24.it" target="_blank">
                            <img src="images/website/ws_reference_14.png" alt="">
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="theme-demo mb-50 md-mb-50">
                    <div class="content-wrapper">
                        <div class="title-wrapper">
                            <a href="https://www.creailtuozerbino.it" target="_blank" class="website"><span class="link-wrappers"> Crea il tuo zerbino</span></a>
                            <a href="https://www.creailtuozerbino.it" target="_blank" class="link"><span class="link-wrappers"><i class="fa fa-external-link"></i> </span></a>
                        </div>
                    </div>
                    <div class="image-wrapper">
                        <a href="https://www.creailtuozerbino.it" target="_blank">
                            <img src="images/website/ws_reference_15.png" alt="">
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="fancy-short-banner-eight mt-50 md-mt-80 mb-150 md-mb-80">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 col-lg-11 m-auto" data-aos="fade-up" data-aos-duration="1200">
                <div class="title-style-seven text-center">
                    <h2> Questi fantastici siti <br />  sono stati progettati con Wsc Printer</h2>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="1200" data-aos-delay="150" style="text-align:center">
            <a asp-area="" asp-page="/WscBuilder/Step01_intro/Index" class="theme-btn-nine  mt-50">Inizia ora</a>
        </div>
    </div>
    <img src="images/shape/171.svg" alt="" class="shapes shape-one">
    <img src="images/shape/172.svg" alt="" class="shapes shape-two">
</div>


