@page
@model WscPrinter_Setup.Pages.WscBuilder.TemplatePreview.TemplatePreviewModel
@{

}
<div class="col-md-12">
    <div id="phone-controls" >
        <div id="phones">
            <button value="1"><svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
		    <path d="M0 0h24v24H0z" fill="none"></path>
		    <path d="M17 1.01L7 1c-1.1 0-2 .9-2 2v18c0 1.1.9 2 2 2h10c1.1 0 2-.9 2-2V3c0-1.1-.9-1.99-2-1.99zM17 19H7V5h10v14z"></path>
		</svg></button>
            <button value="2"><svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
		    <path d="M0 0h24v24H0z" fill="none"/>
		    <path d="M21 4H3c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h18c1.1 0 1.99-.9 1.99-2L23 6c0-1.1-.9-2-2-2zm-2 14H5V6h14v12z"/>
		</svg></button>
            <button value="3"><svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
		    <path d="M0 0h24v24H0z" fill="none"/>
		    <path d="M21 2H3c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h7v2H8v2h8v-2h-2v-2h7c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H3V4h18v12z"/>
		</svg></button>
        </div>
    </div>
</div>

<div class="col-md-12">
    <!--The Main Thing-->
    <div id="wrapper" style="perspective: 1300px;">
        <div class="phone view_2" id="phone_1" style="width: 375px; height: 667px;">
            <iframe src="https://sviluppo.wscprinter.it" id="frame_1"></iframe>
        </div>
    </div>
</div>

<script type="text/javascript">

    /*Only needed for the controls*/
    phone = document.getElementById("phone_1"),
    iframe = document.getElementById("frame_1");
    /*View*/
    function updateView(view) {
        if (view) {
            phone.className = "phone view_" + view;
        }
    }
    /*Controls*/
    function updateIframe() {

        // preload iphone width and height
        phone.style.width = "375px";
        phone.style.height = "667px";
    }

    //updateIframe();
    document.getElementById("phones").addEventListener("click", function (evt) {

        if (evt.target.value == 1) {
            // iphone 6
            width = 375;
            height = 667;
            $("#phone_1").removeClass("phone2")
            $("#phone_1").addClass("phone")
        }

        if (evt.target.value == 2) {
           // ipad mini
            width = 667;
            height = 375;
           $("#phone_1").removeClass("phone2")
            $("#phone_1").addClass("phone")
        }

        if (evt.target.value == 3) {
            // microsoft
            width = 1900;
            height = 1024;
            $("#phone_1").removeClass("phone")
            $("#phone_1").addClass("phone2")
        }


        phone.style.width = width + "px";
        phone.style.height = height + "px";

    });
    iframe = document.getElementById('frame_1');

    if (iframe.attachEvent) {
        iframe.attachEvent("onload", function () {
            afterLoading();
        });
    } else {
        iframe.onload = function () {
            afterLoading();
        };
    }

    function afterLoading() {


    }


</script>
