@page
@model WscPrinter_Setup.Pages.HowDoesItWork.HowDoesItWorkModel
@{
}
<!--
=====================================================
	Fancy Feature Twenty One
=====================================================
-->
<div class="fancy-feature-twentyOne mt-0 md-mt-0" id="template">
	<div class="container">
		<div class="title-style-eight text-center mb-0 md-mb-0" data-aos="fade-up" data-aos-duration="1200">
			<h2>Funzionalità  <br /> Wsc Printer Web To Print </h2>
			<p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
			<a class="theme-btn-nine mt-50 md-mt-80" asp-area="" asp-page="/WscBuilder/Step01_intro/Index">Inizia ora</a>
		</div>
	</div>
</div> <!-- /.fancy-feature-twentyOne -->

  <!--
  =====================================================
    Features 1
  =====================================================
  -->
  <div class="faq-classic pt-100 md-pt-50 pb-100 md-pt-25">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="title-functions-one">
            <img src="images/icon/29.svg" alt="" class="icon">
            <h2>Preventivi online per tutti i settori di stampa </h2>
			<p>Offri una vasta gamma di prodotti di stampa personalizzati presentati in modo chiaro e visivo</p>
          </div> <!-- /.title-style-one -->
        </div>
         <div class="col-lg-12">
            <hr />
        </diV>
      </div>
       <div class="row">
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Stampa Offset e Digitale </h4>
			    <p class="pb-150 md-pb-15">Per le aziende che producono o rivendono prodotti di stampa a foglio e bobina, in piccolo formato come libri, brochure, volantini,  ecc.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Grande formato Roll-to-roll e Flatbed </h4>
			    <p>Per le aziende che producono o rivendono prodotti di stampa in grande formato, come stampa su materiali flessibili e supporti rigidi.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Etichette a foglio e bobina</h4>
			    <p>Per le aziende che producono o rivendono etichette a bobina o foglio con tecnologia offset, digitale e flexo. </p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Packaging e cartotecnica </h4>
			    <p>Per le aziende che producono o rivendono prodotti di packaging e cartotecnina con tecnologia offset e digitale.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Prodotti serigrafici e gadget </h4>
			    <p class=" pb-100">Per le aziende che personalizzano o rivendono gadget promozionali personalizzati con processi serigrafici, tampografici, ecc.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Abbigliamento promozionale</h4>
			    <p>Per le aziende che personalizzano o rivendono abbiglimento personalizzato con tecniche digitali, ricamo, ecc.</p>
              </div> 
            </div>
             <div class="col-lg-12 col-sm-12 mt-15">
				<a asp-area="" asp-page="/WscBuilder/Step01_intro/Index" class="d-flex align-items-center learn-more-3 mt-20 5">
					<span>Inizia ora</span>
					<img src="images/icon/69.svg" alt="">
				</a>
			</div>

       </div>
    </div>
  </div>

   <!--
  =====================================================
    Features 2
  =====================================================
  -->
  <div class="faq-classic pt-10 md-pt-50 pb-100 md-pt-25">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="title-functions-one">
            <img src="images/icon/27.svg" alt="" class="icon">
            <h2>Catalogo prodotti e listini personalizzati </h2>
			<p>Personalizza l'esperienza di acquisto online creando cataloghi prodotti e listini personalizzati per i tuoi clienti</p>
          </div> <!-- /.title-style-one -->
        </div>
         <div class="col-lg-12">
            <hr />
        </diV>
      </div>
       <div class="row">
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Prodotti con preventivatore e motore di calcolo integrato </h4>
			    <p class="pb-150 md-pb-15">I preventivatori permettono ai tuoi clienti di scegliere le caratteristiche del prodotto e proporre il miglior prezzo di acquisto.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Preventivatori form per la richiesta di preventivi </h4>
			    <p>Utilizzati per poter ricevere richieste di preventivi senza mostrare il prezzo del prodotto e gestirle dal proprio pannello di controllo.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Prodotti a prezzo variabile in base alla data di consegna</h4>
			    <p>Scontistica temporale per proporre al cliente in fase di preventivazione prezzi differenti di vendita in base alla data di consegna.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Prodotti a listino per clienti di tipo B2B e B2C</h4>
			    <p>Prodotti a listino con caratteristiche, quantità e prezzi già definiti. Listini di vendita personalizzati per cliente o tipologia B2B/B2C.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Cataloghi prodotti personalizzati per cliente </h4>
			    <p class=" pb-100">Cataloghi prodotto personalizzati e privati per cliente. Gestione della ristampa/riordino e codifica prodotti con codice cliente.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Comparatore prezzi per fornitori diversi</h4>
			    <p>Strumento ideale per broker di stampa, agenzie grafiche e per chi acquista e rivende prodotti da più fornitori.</p>
              </div> 
            </div>
             <div class="col-lg-12 col-sm-12 mt-15">
				<a asp-area="" asp-page="/WscBuilder/Step01_intro/Index" class="d-flex align-items-center learn-more-3 mt-20 5">
					<span>Inizia ora</span>
					<img src="images/icon/69.svg" alt="">
				</a>
			</div>

       </div>
    </div>
  </div>
    <!--
  =====================================================
    Features 3
  =====================================================
  -->
  <div class="faq-classic pt-10 md-pt-50 pb-100 md-pt-25">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="title-functions-one">
            <img src="images/icon/29.svg" alt="" class="icon">
            <h2>Gestione totale dall'ordine online alla spedizione </h2>
			<p>Ricevi e gestisci le informazioni per la crescita dell'attività con un'unica dashboard, ovunque ti trovi.</p>
          </div> <!-- /.title-style-one -->
        </div>
         <div class="col-lg-12">
            <hr />
        </diV>
      </div>
       <div class="row">
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Area clienti con stato avanzamento ordini e lavori </h4>
			    <p class="pb-150 md-pb-15">Un' area riservata completa per consentire ai tuoi clienti  di ottenere informazioni sullo stato di avanzamento dei propri ordini.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Upload con verifica automatica dei files di stampa inviati</h4>
			    <p> Upload con controllo automatico dei files, i tuoi clienti potranno caricare in modo veloce le proprie grafiche senza errori di stampa.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Sistema di messaggistica tra cliente e fornitore</h4>
			    <p>Comunicazione semplificata tra la tua azienda e i tuoi clienti grazie al sistema di messaggistica e notifiche automatiche.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Gestione degli ordini per stato di avanzamento e date di consegna</h4>
			    <p>Dashboard controllo dei lavori da gestire, automazione del processo di evasione e organizzazione per date di consegna.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Gestione spedizioni mutiple/frazionate, corrieri e imballi </h4>
			    <p class=" pb-100">Gestione completa per spedizioni mutiple o frazionate, integrato con corrieri e calcolo automatico degli imballi.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Gestione pagamenti con carta di credito e pagamenti personalizzati per cliente   </h4>
			    <p>Ricezione di pagamenti con carta di credito, pagamenti differiti e pagamenti personalizzati per cliente. </p>
              </div> 
            </div>
             <div class="col-lg-12 col-sm-12 mt-15">
				<a asp-area="" asp-page="/WscBuilder/Step01_intro/Index" class="d-flex align-items-center learn-more-3 mt-20 5">
					<span>Inizia ora</span>
					<img src="images/icon/69.svg" alt="">
				</a>
			</div>

       </div>
    </div>
  </div>

  <!--
  =====================================================
    Features 4
  =====================================================
  -->
  <div class="faq-classic pt-10 md-pt-50 pb-100 md-pt-25">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="title-functions-one">
            <img src="images/icon/27.svg" alt="" class="icon">
            <h2>Template e contenuti personalizzabili </h2>
			<p>Trova le opzione giuste per la tua attività di stampa stampa online</p>
          </div> <!-- /.title-style-one -->
        </div>
         <div class="col-lg-12">
            <hr />
        </diV>
      </div>
       <div class="row">
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Template professionali pronti all'uso </h4>
			    <p class="pb-150 md-pb-15">Oltre 50 template progettati da designer, adatti a qualunque attività di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Ottimizzazione mobile</h4>
			    <p>Una versione semplificata del tuo sito su mobile con tutti gli elementi essenziali.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Editor per la personalizzazione template</h4>
			    <p>Tutti gli strumenti necessari per creare, personalizzare  lo stile e la struttura del tuo sito.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Cms per la gestione dei contenuti </h4>
			    <p>Gestione e pubblicazione in autonomia dei contenuti del tuo sito.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Multilingua </h4>
			    <p class=" pb-100">Personalizzazione dei template e contenuti in lingue diverse.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Gestione Blog   </h4>
			    <p>Blog aziendale per fidelizzare i clienti e comunicare tutte le novità.</p>
              </div> 
            </div>
             <div class="col-lg-12 col-sm-12 mt-15">
				<a asp-area="" asp-page="/WscBuilder/Step01_intro/Index" class="d-flex align-items-center learn-more-3 mt-20 5">
					<span>Inizia ora</span>
					<img src="images/icon/69.svg" alt="">
				</a>
			</div>

       </div>
    </div>
  </div>
  <!--
  =====================================================
    Features 5
  =====================================================
  -->
  <div class="faq-classic pt-10 md-pt-50 pb-100 md-pt-25">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="title-functions-one">
            <img src="images/icon/29.svg" alt="" class="icon">
            <h2>Strumenti integrati per promuovere e gestire la tua attività online </h2>
			<p>Scegli tra numerose funzionalità e integrazioni con sistemi esterni pronti all'utilizzo </p>
          </div> <!-- /.title-style-one -->
        </div>
         <div class="col-lg-12">
            <hr />
        </diV>
      </div>
       <div class="row">
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Codici sconto e  promozioni personalizzate </h4>
			    <p class="pb-150 md-pb-15">Tutti gli strumenti a disposizione per la creazione di codici sconto e promozioni.   </p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Strumenti integrati per la SEO</h4>
			    <p>SEO integrato, meta tag personalizzabili, dati strutturati e altro ancora.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Marketing automation</h4>
			    <p>Programmazione degli gli invii automatici delle tue comunicazioni tramite mail.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Integrazione con strumenti per analisi e marketing</h4>
			    <p>Integrato con i sistemi piu utilizzati tra cui Google Analytics, Google Tag Manager, ecc. </p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Integrazione con software gestionali di fatturazione</h4>
			    <p class=" pb-100">Integrato con i sistemi più utilizzati tra cui Fatture in Cloud, Danea, Aruba, ecc. </p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Integrazione con sistemi newsletter, recensioni, customer care e social</h4>
			    <p>Integrato con i sistemi più utilizzati tra cui Truspilot, Mailchimp, Zendesk, ecc.</p>
              </div> 
            </div>

       </div>
    </div>
  </div>

  <!--
  =====================================================
    Fancy Short Banner Eight
  =====================================================
  -->
  <div class="fancy-short-banner-eight mt-50 md-mt-80 mb-150 md-mb-80">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-11 m-auto" data-aos="fade-up" data-aos-duration="1200">
          <div class="title-style-seven text-center">
            <h2><span>Crea</span> il tuo sito<br /> Web To Print adesso</h2>
          </div> <!-- /.title-style-six -->
        </div>
      </div>
      <div data-aos="fade-up" data-aos-duration="1200" data-aos-delay="150" style="text-align:center">
		<a asp-area="" asp-page="/WscBuilder/Step01_intro/Index" class="theme-btn-nine  mt-50">Inizia ora</a>
      </div>
    </div> <!-- /.container -->
    <img src="images/shape/171.svg" alt="" class="shapes shape-one">
    <img src="images/shape/172.svg" alt="" class="shapes shape-two">
  </div> <!-- /.fancy-short-banner-eight -->




