@page
@model WscPrinter_Setup.Pages.HowDoesItWork.HowDoesItWorkModel
@{
}
<!--
=====================================================
	Fancy Feature Twenty One
=====================================================
-->
<div class="fancy-feature-twentyOne mt-0 md-mt-0" id="template">
	<div class="container">
		<div class="title-style-eight text-center mb-0 md-mb-0" data-aos="fade-up" data-aos-duration="1200">
			<h2>Funzionalità  <br /> Wsc Printer Web To Print </h2>
			<p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
			<a class="theme-btn-nine mt-50 md-mt-80" asp-area="" asp-page="/WscBuilder/Step01_intro/Index">Inizia ora</a>
		</div>
	</div>
</div> <!-- /.fancy-feature-twentyOne -->

  <!--
  =====================================================
    Features 1
  =====================================================
  -->
  <div class="faq-classic pt-100 md-pt-50 pb-100 md-pt-25">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="title-functions-one">
            <img src="images/icon/29.svg" alt="" class="icon">
            <h2>Preventivi online per tutti i settori di stampa </h2>
			<p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
          </div> <!-- /.title-style-one -->
        </div>
         <div class="col-lg-12">
            <hr />
        </diV>
      </div>
       <div class="row">
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Stampa Offset e Digitale </h4>
			    <p class="pb-150 md-pb-15">Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Grande formato Roll-to-roll e Flatbed </h4>
			    <p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Etichette a foglio e bobina</h4>
			    <p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Packaging e cartotecnica </h4>
			    <p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Prodotti serigrafici e gadget </h4>
			    <p class=" pb-100">Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Abbigliamento promozionale</h4>
			    <p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
             <div class="col-lg-12 col-sm-12 mt-15">
				<a asp-area="" asp-page="/WscBuilder/Step01_intro/Index" class="d-flex align-items-center learn-more-3 mt-20 5">
					<span>Inizia ora</span>
					<img src="images/icon/69.svg" alt="">
				</a>
			</div>

       </div>
    </div>
  </div>

   <!--
  =====================================================
    Features 2
  =====================================================
  -->
  <div class="faq-classic pt-10 md-pt-50 pb-100 md-pt-25">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="title-functions-one">
            <img src="images/icon/27.svg" alt="" class="icon">
            <h2>Catalogo prodotti e listini personalizzati </h2>
			<p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
          </div> <!-- /.title-style-one -->
        </div>
         <div class="col-lg-12">
            <hr />
        </diV>
      </div>
       <div class="row">
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Prodotti con preventivatore e motore di calcolo integrato </h4>
			    <p class="pb-150 md-pb-15">Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Preventivatori form per la richiesta di preventivi </h4>
			    <p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Prodotti a prezzo variabile in base alla data di consegna</h4>
			    <p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Prodotti a listino per clienti di tipo B2B e B2C</h4>
			    <p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Cataloghi prodotti personalizzati per cliente </h4>
			    <p class=" pb-100">Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Comparatore prezzi per fornitori diversi</h4>
			    <p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
             <div class="col-lg-12 col-sm-12 mt-15">
				<a asp-area="" asp-page="/WscBuilder/Step01_intro/Index" class="d-flex align-items-center learn-more-3 mt-20 5">
					<span>Inizia ora</span>
					<img src="images/icon/69.svg" alt="">
				</a>
			</div>

       </div>
    </div>
  </div>







    <!--
  =====================================================
    Features 3
  =====================================================
  -->
  <div class="faq-classic pt-10 md-pt-50 pb-100 md-pt-25">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="title-functions-one">
            <img src="images/icon/29.svg" alt="" class="icon">
            <h2>Gestione totale dall'ordine online alla spedizione </h2>
			<p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
          </div> <!-- /.title-style-one -->
        </div>
         <div class="col-lg-12">
            <hr />
        </diV>
      </div>
       <div class="row">
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Area clienti con stato avanzamento ordini e lavori </h4>
			    <p class="pb-150 md-pb-15">Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Upload con verifica automatica dei files di stampa inviati</h4>
			    <p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Sistema di messaggistica tra cliente e fornitore</h4>
			    <p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Gestione degli ordini per stato di avanzamento e date di consegna</h4>
			    <p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Gestione spedizioni mutiple/frazionate, corrieri e imballi </h4>
			    <p class=" pb-100">Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Gestione pagamenti con carta di credito e pagamenti personalizzati per cliente   </h4>
			    <p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
             <div class="col-lg-12 col-sm-12 mt-15">
				<a asp-area="" asp-page="/WscBuilder/Step01_intro/Index" class="d-flex align-items-center learn-more-3 mt-20 5">
					<span>Inizia ora</span>
					<img src="images/icon/69.svg" alt="">
				</a>
			</div>

       </div>
    </div>
  </div>

       <!--
  =====================================================
    Features 3
  =====================================================
  -->
  <div class="faq-classic pt-10 md-pt-50 pb-100 md-pt-25">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="title-functions-one">
            <img src="images/icon/29.svg" alt="" class="icon">
            <h2>Template e contenuti personalizzabili </h2>
			<p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
          </div> <!-- /.title-style-one -->
        </div>
         <div class="col-lg-12">
            <hr />
        </diV>
      </div>
       <div class="row">
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Template professionali pronti all'uso </h4>
			    <p class="pb-150 md-pb-15">Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Ottimizzazione mobile</h4>
			    <p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Editor per personalizzazione grafica dei template online</h4>
			    <p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Cms per la creazione e gestione dei contenuti </h4>
			    <p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Multi lingua e multi valuta </h4>
			    <p class=" pb-100">Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Gestione Blog   </h4>
			    <p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
             <div class="col-lg-12 col-sm-12 mt-15">
				<a asp-area="" asp-page="/WscBuilder/Step01_intro/Index" class="d-flex align-items-center learn-more-3 mt-20 5">
					<span>Inizia ora</span>
					<img src="images/icon/69.svg" alt="">
				</a>
			</div>

       </div>
    </div>
  </div>






     <!--
  =====================================================
    Features 4
  =====================================================
  -->
  <div class="faq-classic pt-10 md-pt-50 pb-100 md-pt-25">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="title-functions-one">
            <img src="images/icon/27.svg" alt="" class="icon">
            <h2>Strumenti integrati per promuovere e gestire la tua attività online </h2>
			<p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
          </div> <!-- /.title-style-one -->
        </div>
         <div class="col-lg-12">
            <hr />
        </diV>
      </div>
       <div class="row">
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Codici sconto e  promozioni personalizzate </h4>
			    <p class="pb-150 md-pb-15">Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Strumenti integrati per la SEO</h4>
			    <p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Marketing automation</h4>
			    <p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Integrazione con strumenti per analisi e marketing</h4>
			    <p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Integrazione con software gestionali di fatturazione</h4>
			    <p class=" pb-100">Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>
            <div class="col-lg-4">
              <div class="title-future-one">
                <h4>Integrazione con sistemi newsletter, recensioni, customer care e social</h4>
			    <p>Scopri tutte le funzionalità che puoi usare per progettare e gestire il tuo sito di stampa online.</p>
              </div> 
            </div>

       </div>
    </div>
  </div>


  <!--
  =====================================================
    Fancy Short Banner Eight
  =====================================================
  -->
  <div class="fancy-short-banner-eight mt-50 md-mt-80 mb-150 md-mb-80">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-11 m-auto" data-aos="fade-up" data-aos-duration="1200">
          <div class="title-style-seven text-center">
            <h2><span>Crea</span> il tuo sito<br /> Web To Print adesso</h2>
          </div> <!-- /.title-style-six -->
        </div>
      </div>
      <div data-aos="fade-up" data-aos-duration="1200" data-aos-delay="150" style="text-align:center">
		<a asp-area="" asp-page="/WscBuilder/Step01_intro/Index" class="theme-btn-nine  mt-50">Inizia ora</a>
      </div>
    </div> <!-- /.container -->
    <img src="images/shape/171.svg" alt="" class="shapes shape-one">
    <img src="images/shape/172.svg" alt="" class="shapes shape-two">
  </div> <!-- /.fancy-short-banner-eight -->




