@page
@model WscPrinter_Setup.Pages.WscBuilder.Step05_website_name_email_and_logo.Step05WebsiteNameEmailAndLogo
@{
}

<h1>Step 5</h1>


<a asp-page="/WscBuilder/Step06-choose-skin-and-styles/Index">Click</a>
