@page
@model WscPrinter_Setup.Pages.WscBuilder.Step08_ready_to_go.Step08ReadyToGoModel
@{
    string templateName = Request.Query["templateName"];
    string templateId = Request.Query["templateId"];
    string templateLink = Request.Query["theLink"];
    string templateImg = Request.Query["imgLink"];
    string linkWhatsapp = "https://wa.me/+390287388790/?text=Ho%20creato%20il%20mio%20sito%20Web%20To%20Print.%20%" + templateId + "%5D.%20Vorrei%20informazioni.";
    ViewData["Title"] = "Congratulazioni";
}
<div class="wbuilder-page">
    <div class="wbuilder-column-1 d-lg-flex align-items-center">
        <div class="wbuilder-img-logo"><a asp-area="" asp-page="/Index"><img src="/images/website/logo_wscprinter.png" alt="Wsc Printer - Web To Print" title="Wsc Printer - Web To Print"></a></div>
        <div class="wbuilder-info" data-aos="fade-right" data-aos-duration="1200">
            <h2><span>Congratulazioni!</span> </h2>
            <p class="text">Il tuo sito &egrave; stato pubblicato ed &egrave; live online</p>
        </div>
    </div>
    <div class="wbuilder-column-2 d-lg-flex align-items-center">
        <div class="wbuilder-info">
            <p class="text"><b>Adesso &egrave; quasi tutto pronto per avviare la tua attivit&agrave; online</b></p>
            <p class="text-title">Ultimo passo</p>
            <p class="text-content">Contattaci subito al numero telefonico <b>02 87 388 790</b>, <span class="step-8-whatsapp">chatta subito con  noi  su <a href="https://wa.me/+390287388790/?text=Salve%20sono%20Michele%2C%0Aho%20creato%20il%20mio%20sito%20Web%20To%20Print.%0A%5Bfe326af8-5b01-40c5-9ec5-9eaec6b0128d%5D%0AVorrei%20maggiori%20informazioni.%0AGrazie%0A" target="_blank"><i class="fa fa-whatsapp icon-whatsapp"></i> WhatsApp</a></span>, oppure inviaci un'email a <b>commerciale@dynamicsoft.it</b> <br /> Il nostro team di assistenza clienti sarà felice di aiutarti proponendoti la miglior offerta economica sul mercato.</p>
            <p class="text-content-2">Nel frattempo inzia la navigazione del tuo nuovo sito Web To Print.</p>
            <div class="wbuilder-button">
                <a onclick="leave();" class="theme-btn-nine">Vai al tuo sito</a>
            </div>


        </div>
    </div>
</div>
<a href="@linkWhatsapp"  class="whatsapp-float" target="_blank">
<i class="fa fa-whatsapp whatsapp-my-float"></i>
</a>

<script>
  function leave() {
    var url = '@templateLink';
    window.open(url, '_blank');
  }
</script>
<script type="text/javascript" id="zsiqchat">var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode: "5c4c12d99c3d443a324c9bd26d5ca7473c1b814bf888e70af4135e9ed4ee805f1a2010ab7b6727677d37b27582c0e9c4", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);</script>
