@*
  For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>GGDB.Login Home page</h1>

<div class="row">
  <div class="col-6 text-left">
    @System.Globalization.CultureInfo.CurrentUICulture
  </div>
  <div class="col-6 text-right">
    @await Html.PartialAsync("_SelectLanguagePartial")
  </div>
</div>
<div class="text-center">
  <h1 class="display-4">@Localizer["Welcome"]</h1>
</div>
<div class="text-center">
  <p>Let's start ?... <a asp-page="/SetupNewExperience/Index" asp-route-mode="0">@Localizer["Customize your wscprinter web site"]</a>.</p>
</div>
