@*
  For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!--
=============================================
  Theme Hero Banner
==============================================
-->
<div class="hero-banner-eight">
  <div class="container">
    <div class="row">
		<div class="col-lg-10 m-auto">
			<h1 class="hero-heading">Crea un sito Web To Print professionale</h1>
			<p class="hero-sub-heading">Rispondi ad alcune semplici domande e Wsc Printer Builder AI (Artificial Intelligence) <br />	creerà il tuo sito e-commerce per la stampa istantaneamente.</p>
			<a class="theme-btn-nine" asp-area="" asp-page="/WscBuilder/Step01_intro/Index">@Localizer["Start Now"]</a>
		</div>
    </div>
  </div>
  <div class="partner-slider-two mt-50 md-mt-80">
    <div class="containera">
      <div id="video1"></div>
    </div>
  </div> <!-- /.partner-slider-two -->
  <div class="partner-slider-two mt-100 md-mt-80">
    <div class="container">
	  <p class="text-center">Oltre <b style="color:#ff6a00">200+</b> aziende di stampa utilizzano Wsc Printer E-commerce </p>
      <div class="partnerSliderTwo">
        <div class="item">
          <div class="img-meta d-flex align-items-center justify-content-center"><img src="images/logo/logo-21.png" alt=""></div>
        </div>
        <div class="item">
          <div class="img-meta d-flex align-items-center justify-content-center"><img src="images/logo/logo-22.png" alt=""></div>
        </div>
        <div class="item">
          <div class="img-meta d-flex align-items-center justify-content-center"><img src="images/logo/logo-23.png" alt=""></div>
        </div>
        <div class="item">
          <div class="img-meta d-flex align-items-center justify-content-center"><img src="images/logo/logo-24.png" alt=""></div>
        </div>
        <div class="item">
          <div class="img-meta d-flex align-items-center justify-content-center"><img src="images/logo/logo-25.png" alt=""></div>
        </div>
        <div class="item">
          <div class="img-meta d-flex align-items-center justify-content-center"><img src="images/logo/logo-22.png" alt=""></div>
        </div>
        <div class="item">
          <div class="img-meta d-flex align-items-center justify-content-center"><img src="images/logo/logo-24.png" alt=""></div>
        </div>
      </div>
    </div>
  </div> <!-- /.partner-slider-two -->



</div> <!-- /.hero-banner-eight -->
<!--
=============================================
  Fancy Feature Ten
==============================================
-->
<div class="fancy-feature-ten mt-100 md-mt-70" id="feature">
  <div class="bg-wrapper bg-home-1">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-md-6" data-aos="fade-right" data-aos-duration="1200">
          <div class="title-style-six">
            <h2>
              Come creare un<br /> sito  <b>Web To Print</b> in <span>3 minuti</span>
            </h2>
			<p class="sub-text pt-30 pb-30">Segui questi semplici passaggi per creare il tuo sito e-commerce oggi stesso.
            </p>
          </div> <!-- /.title-style-six -->
        </div>
        <div class="col-lg-5 col-md-6" data-aos="fade-left" data-aos-duration="1200">
          <div class="row">
            <div class="col-lg-12 col-sm-12" data-aos="fade-up" data-aos-duration="1200">
              <div class="block-meta">
                <h4><b>1.</b> Deski Web offers a complete lineup of features from any major browser.</h4>
              </div> <!-- /.block-meta -->
            </div>
            <div class="col-lg-12 col-sm-12 mt-15" data-aos="fade-up" data-aos-duration="1200">
              <div class="block-meta">
                <h4>2. Deski Web offers a complete lineup of features from any major browser.</h4>
              </div> <!-- /.block-meta -->
            </div>
            <div class="col-lg-12 col-sm-12 mt-15" data-aos="fade-up" data-aos-duration="1200">
              <div class="block-meta">
                <h4>3. Deski Web offers a complete lineup of features from any major browser.</h4>
              </div> <!-- /.block-meta -->
            </div>
            <div class="col-lg-12 col-sm-12 mt-15" data-aos="fade-up" data-aos-duration="1200">
              <div class="block-meta">
                <h4>4. Deski Web offers a complete lineup of features from any major browser.</h4>
              </div> <!-- /.block-meta -->
            </div>
            <div class="col-lg-12 col-sm-12 mt-15" data-aos="fade-up" data-aos-duration="1200">
              <div class="block-meta">
                <h4>5. Deski Web offers a complete lineup of features from any major browser.</h4>
              </div> <!-- /.block-meta -->
            </div>
            <div class="col-lg-12 col-sm-12 mt-15" data-aos="fade-up" data-aos-duration="1100">
				<a asp-area="" asp-page="/WscBuilder/Step01_intro/Index" class="d-flex align-items-center learn-more-1 mt-20">
					<span>Inizia ora</span>
					<img src="images/icon/69.svg" alt="">
				</a>
			</div>



          </div>

        </div>
      </div>

    </div>
    <img src="images/shape/137.svg" alt="" class="shapes shape-one">
  </div> <!-- /.bg-wrapper -->
</div> <!-- /.fancy-feature-ten -->
<!--
=============================================
  App Screen Preview
==============================================
-->
<div class="app-screen-preview-two mt-100 md-mt-130">
  <div class="container">
    <div class="title-style-eleven text-center mb-0 md-mb-70">
      <h2>Template per siti Web To Print<br /> professionali</h2>
      <p class="mt-20">Scegli tra oltre 50 template di siti web personalizzabili<br /> creati per soddisfare le tue esigenze di business.</p>
    </div>
  </div>
  <div id="video2"></div>
  <!-- /.app-preview-slider-two -->
</div>
<!-- /.app-screen-preview-two -->
<!--
=====================================================
  Fancy Text block Eight
=====================================================
-->
<div class="fancy-text-block-eight lg-container pt-10 pb-50 md-pt-100 md-pb-150">
  <div class="container">
    <div class="title-style-two text-center mb-150 md-mb-70">
      <div class="row">
        <div class="col-xl-8 col-lg-9 col-md-10 m-auto">
          <p>Funzionalità professionali per il tuo sito Web To Print</p>
			<h2>Semplifica la vendita di
            <span>prodotti di stampa <img src="images/shape/line-shape-2.svg" alt=""></span>
          </h2>
        </div>
      </div>
    </div>

    <div class="block-style-six pb-50 md-pb-0">
      <div class="row">
        <div class="col-lg-5" data-aos="fade-right" data-aos-duration="1200">
          <div class="text-details pt-35 md-pb-50">
            <img src="images/icon/27.svg" alt="" class="icon">
            <h3 class="title font-gilroy-bold">Preventivi Online per qualsiasi prodotto e servizio di stampa </h3>
            <p class="text-meta">Our chatbots and live chat capture more ipsum of your best leads and convert them while they’re hot dummy text.</p>
          </div> <!-- /.text-details -->
        </div>

        <div class="col-lg-7 col-md-9 m-auto" data-aos="fade-left" data-aos-duration="1200">
          <div class="illustration-holder illustration-one">
            <img src="images/website/future_1.png" alt="" class="ml-auto">
          </div>
        </div>
      </div>
    </div> <!-- /.block-style-six -->

    <div class="block-style-six pt-0 md-pt-0">
      <div class="row">
        <div class="col-lg-5 order-lg-last" data-aos="fade-left" data-aos-duration="1200">
          <div class="text-details pt-35 md-pb-50">
            <img src="images/icon/29.svg" alt="" class="icon">
            <h3 class="title font-gilroy-bold">Inoltro e gestione del lavoro online</h3>
            <p class="text-meta">Deski stand with friendly interface with lots of features that help our team and csutomer to collbarate easily.</p>
          </div> <!-- /.text-details -->
        </div>

        <div class="col-lg-7 col-md-9 m-auto order-lg-first" data-aos="fade-right" data-aos-duration="1200">
          <div class="illustration-holder illustration-two">
            <img src="images/website/future_2.png" alt="" class="mr-auto">
          </div>
        </div>
      </div>
    </div> <!-- /.block-style-six -->

  </div>




</div> <!-- /.fancy-text-block-eight -->
<div class="fancy-text-block-eight lg-container pb-100 md-pt-100 md-pb-150">
  <div class="container">

    <div class="block-style-six pb-50 md-pb-0">
      <div class="row">
        <div class="col-lg-5" data-aos="fade-right" data-aos-duration="1200">
          <div class="text-details pt-35 md-pb-50">
            <img src="images/icon/27.svg" alt="" class="icon">
            <h3 class="title font-gilroy-bold">Flusso produttivo<br /> dalla commessa alla spedizione </h3>
            <p class="text-meta">Our chatbots and live chat capture more ipsum of your best leads and convert them while they’re hot dummy text.</p>
          </div> <!-- /.text-details -->
        </div>

        <div class="col-lg-7 col-md-9 m-auto" data-aos="fade-left" data-aos-duration="1200">
          <div class="illustration-holder illustration-one">
            <img src="images/website/future_3.png" alt="" class="ml-auto">
          </div>

        </div>
      </div> <!-- /.block-style-six -->

      <div class="block-style-six pt-0 md-pt-0">
        <div class="row">
          <div class="col-lg-5 order-lg-last" data-aos="fade-left" data-aos-duration="1200">
            <div class="text-details pt-35 md-pb-50">
              <img src="images/icon/29.svg" alt="" class="icon">
              <h3 class="title font-gilroy-bold">Strumenti integrati <br />per far crescere la tua attività online </h3>
              <p class="text-meta">Deski stand with friendly interface with lots of features that help our team and csutomer to collbarate easily.</p>
            </div> <!-- /.text-details -->
          </div>

          <div class="col-lg-7 col-md-9 m-auto order-lg-first" data-aos="fade-right" data-aos-duration="1200">
            <div class="illustration-holder illustration-two">
              <img src="images/website/future_4.png" alt="" class="mr-auto">
            </div>
          </div>
        </div>
      </div> <!-- /.block-style-six -->

    </div>




  </div> <!-- /.fancy-text-block-eight -->
  <!--
  =============================================
    Fancy Feature Ten
  ==============================================
  -->
  <div class="fancy-feature-ten mt-10 md-mt-70" id="feature">
    <div class="bg-wrapper bg-home-2">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-md-6" data-aos="fade-right" data-aos-duration="1200">
            <div class="title-style-six">
              <h2>
                Perché scegliere <br /> <span>Wsc Printer</span><br />  per creare un sito <b>Web To Print professionale</b>?
              </h2>
              </p>
            </div> <!-- /.title-style-six -->
          </div>
          <div class="col-lg-5 col-md-6" data-aos="fade-left" data-aos-duration="1200">
            <div class="row">
              <div class="col-lg-12 col-sm-12" data-aos="fade-up" data-aos-duration="1200">
                <div class="block-meta">
                  <h4>1. Deski Web offers a complete lineup of features from any major browser.</h4>
                </div> <!-- /.block-meta -->
              </div>
              <div class="col-lg-12 col-sm-12 mt-15" data-aos="fade-up" data-aos-duration="1200">
                <div class="block-meta">
                  <h4>2. Deski Web offers a complete lineup of features from any major browser.</h4>
                </div> <!-- /.block-meta -->
              </div>
              <div class="col-lg-12 col-sm-12 mt-15" data-aos="fade-up" data-aos-duration="1200">
                <div class="block-meta">
                  <h4>3. Deski Web offers a complete lineup of features from any major browser.</h4>
                </div> <!-- /.block-meta -->
              </div>
              <div class="col-lg-12 col-sm-12 mt-15" data-aos="fade-up" data-aos-duration="1200">
                <div class="block-meta">
                  <h4>4. Deski Web offers a complete lineup of features from any major browser.</h4>
                </div> <!-- /.block-meta -->
              </div>
              <div class="col-lg-12 col-sm-12 mt-15" data-aos="fade-up" data-aos-duration="1200">
                <div class="block-meta">
                  <h4>5. Deski Web offers a complete lineup of features from any major browser.</h4>
                </div> <!-- /.block-meta -->
              </div>
            </div>

          </div>
        </div>

      </div>
      <img src="images/shape/137.svg" alt="" class="shapes shape-one">
    </div> <!-- /.bg-wrapper -->
  </div> <!-- /.fancy-feature-ten -->
  <!--
  =====================================================
    Faq Classic
  =====================================================
  -->
  <div class="faq-classic pt-225 md-pt-120">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="title-style-one">
            <h6 class="font-rubik">FAQ</h6>
            <h2>Hai domande? Trova la tua risposta</h2>
          </div> <!-- /.title-style-one -->
        </div>
        <div class="col-lg-6">
          <!-- ================== FAQ Panel ================ -->
          <div id="accordion" class="md-mt-60">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link">
                    How the affiliate programe works?
                  </button>
                </h5>
              </div>
              <div id="collapseOne" class="collapse">
                <div class="card-body">
                  <p>mea case duis tollit et. Etiam nusquam set minium eu sea, ei tale paulo elab. Noluisse mnesarch Et is vero incorrupte eos deserunt quaeren.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link">
                    How to create customer panel?
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse show">
                <div class="card-body">
                  <p>mea case duis tollit et. Etiam nusquam set minium eu sea, ei tale paulo elab. Noluisse mnesarch Et is vero incorrupte eos deserunt quaeren.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link">
                    How delete my account?
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse">
                <div class="card-body">
                  <p>mea case duis tollit et. Etiam nusquam set minium eu sea, ei tale paulo elab. Noluisse mnesarch Et is vero incorrupte eos deserunt quaeren.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                  <button class="btn btn-link">
                    Ho to invite people with refferel link?
                  </button>
                </h5>
              </div>
              <div id="collapseFour" class="collapse">
                <div class="card-body">
                  <p>mea case duis tollit et. Etiam nusquam set minium eu sea, ei tale paulo elab. Noluisse mnesarch Et is vero incorrupte eos deserunt quaeren.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                  <button class="btn btn-link">
                    Is ios app available for the iphone?
                  </button>
                </h5>
              </div>
              <div id="collapseFive" class="collapse">
                <div class="card-body">
                  <p>mea case duis tollit et. Etiam nusquam set minium eu sea, ei tale paulo elab. Noluisse mnesarch Et is vero incorrupte eos deserunt quaeren.</p>
                </div>
              </div>
            </div>
          </div>
        </div> <!-- /.col- -->
      </div>
    </div>
  </div> <!-- /.faq-classic -->
  <!--
  =====================================================
    Fancy Short Banner Eight
  =====================================================
  -->
  <div class="fancy-short-banner-eight mt-170 md-mt-80">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-11 m-auto" data-aos="fade-up" data-aos-duration="1200">
          <div class="title-style-seven text-center">
            <h2><span>200+</span> clienti utilizzano Wsc Printer.Provalo!</h2>
            <p>Vedrai come &egrave; facile e veloce andare online con un sito Web To Print !</p>
          </div> <!-- /.title-style-six -->
        </div>
      </div>
      <div data-aos="fade-up" data-aos-duration="1200" data-aos-delay="150" style="text-align:center">
		<a asp-area="" asp-page="/WscBuilder/Step01_intro/Index" class="theme-btn-nine  mt-50">@Localizer["Start Now"]</a>
      </div>
    </div> <!-- /.container -->
    <img src="images/shape/171.svg" alt="" class="shapes shape-one">
    <img src="images/shape/172.svg" alt="" class="shapes shape-two">
  </div> <!-- /.fancy-short-banner-eight -->

</div>


