
@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    //
    // https://stackoverflow.com/questions/9414123/get-cultureinfo-from-current-visitor-and-setting-resources-based-on-that
    //
    // var locale = Request.HttpContext.Features.Get<IRequestCultureFeature>();
    // var BrowserCulture = locale.RequestCulture.UICulture.ToString();
    // Model.HttpContext.Features.Get<IRequestCultureFeature>();
}

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Digital marketing agency, Digital marketing company, Digital marketing services, sass, software company">
    <meta name="description" content="Deski is a creative saas and software html template designed for saas and software Agency websites.">
    <meta property="og:site_name" content="deski">
    <meta property="og:url" content="https://heloshape.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Deski: creative saas and software html template">
    <meta name='og:image' content='/images/assets/ogg.png'>
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- For Resposive Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- For Window Tab Color -->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#7034FF">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#7034FF">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#7034FF">
    <title>@ViewData["Title"]</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="56x56" href="/images/fav-icon/icon.png">
    <!-- Fonts -->
          <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="56x56" href="/images/fav-icon/icon.png">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="/fonts/recoleta/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="/fonts/gordita/stylesheet.css">
    <!-- responsive style sheet -->
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
       <link rel="stylesheet" type="text/css" href="/css/style2.css">
</head>

<body>
    <div class="main-page-wrapper p0">
        <!-- ===================================================
            Loading Transition
        ==================================================== -->
        <section>
            <div id="preloader">
                <div id="ctn-preloader" class="ctn-preloader">
                    <div class="animation-preloader">
                        <div class="spinner"></div>
                        <div class="txt-loading">
                            <span data-text-preloader="W" class="letters-loading">
                                W
                            </span>
                            <span data-text-preloader="B" class="letters-loading">
                                B
                            </span>
                            <span data-text-preloader="U" class="letters-loading">
                                U
                            </span>
                            <span data-text-preloader="I" class="letters-loading">
                                I
                            </span>
                            <span data-text-preloader="L" class="letters-loading">
                                L
                            </span>
                            <span data-text-preloader="D" class="letters-loading">
                                D
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
           <section class="preview">
                @RenderBody()
</section>
       
        <!-- Optional JavaScript _____________________________  -->
        <!-- jQuery -->
        <script src="/vendor/jquery.min.js"></script>
        <script src="/vendor/jquery-ui.js"></script>
        <!-- Popper js -->
        <script src="/vendor/popper.js/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!-- menu  -->
        <script src="/vendor/mega-menu/assets/js/custom.js"></script>
        <!-- AOS js -->
        <script src="/vendor/aos-next/dist/aos.js"></script>
        <!-- js count to -->
        <script src="/vendor/jquery.appear.js"></script>
        <script src="/vendor/jquery.countTo.js"></script>
        <!-- MixIt Up -->
        <script src="/vendor/mixitup-3/mixitup.min.js"></script>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- Theme js -->
        <script src="/js/theme.js"></script>
    </div> <!-- /.main-page-wrapper -->

    <script>
        function scrollImage_hover() {
            $('.theme-demo:not(.theme-comming-soon)')
                .mouseenter(function () {
                    var height = $(this).find('.image-wrapper').height() - $(this).find('.image-wrapper img').height();
                    if (height < 0) {
                        $(this).find('.image-wrapper img').css('transform', 'translateY(' + height + 'px)');
                    }
                })
                .mouseleave(function () {
                    $(this).find('.image-wrapper img').css('transform', 'translateY(0)');
                });
        };

        $(document).ready(function () {
            scrollImage_hover();
        });
        function effect(divName) {
            $("#alertError").removeClass("wbuilder-hidden");
            var options = {};
            $( "#alertError" ).effect( "bounce", options, 500, callback );
        };
        function callback() {
                $("#alertError").removeAttr("style").hide().fadeIn();
        };
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
