@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    //
    // https://stackoverflow.com/questions/9414123/get-cultureinfo-from-current-visitor-and-setting-resources-based-on-that
    //
    // var locale = Request.HttpContext.Features.Get<IRequestCultureFeature>();
    // var BrowserCulture = locale.RequestCulture.UICulture.ToString();
    // Model.HttpContext.Features.Get<IRequestCultureFeature>();
}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Web to print, piattaforma web to print, sito web to print, ecommerce stampa">
    <meta name="description" content="Crea il tuo sito Web To Print con Wsc Printer, senza alcuna nozione tecnica. Personalizzalo: scegli il design, modificalo e pubblica il tuo sito Web To Print oggi stesso.">
    <meta property="og:site_name" content="IT - Wsc Printer Web To Print">
    <meta property="og:url" content="https://www.wscprinter.it">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Crea un sito Web To Print professionale | Wsc Printer E-commerce">
    <meta name='og:image' content="/images/website/wbuilder_ogimage.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ee811f">
    <meta name="msapplication-navbutton-color" content="#ee811f">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ee811f">
    <meta name="robots" content="index, follow">
    <title>Crea un sito Web To Print professionale | Wsc Printer E-commerce</title>
    <link rel="canonical" href="https://www.wscprinter.it">
    <link rel="icon" type="image/png" sizes="56x56" href="~/images/fav-icon/icon.png">
    <link rel="stylesheet" type="text/css" href="~/fonts/recoleta/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/gordita/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
    <script src="~/js/custom/wbuilder_head.js"></script>
    <script type="application/ld+json">
        {
          "@@context": "https://schema.org/",
          "@@type": "WebSite",
          "name": "Wsc Printer Web To Print",
          "url": "https://www.wscprinter.it"
        }
    </script>
    <script type="application/ld+json">
        {
          "@@context": "https://schema.org/",
          "@@type": "Corporation",
          "name": "Dynamicsoft srl",
          "url": "https://www.wscprinter.it",
          "logo": "https://www.wscprinter.i/images/website/logo_wscprinter.png",
          "contactPoint": {
            "@@type": "ContactPoint",
            "telephone": "0287388790",
            "contactType": "customer service"
          },
          "sameAs": [
            "https://www.wscprinter.it"
          ]
        }
    </script>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WTR7T23ECD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-WTR7T23ECD');
</script>
 <!-- Global site tag (gtag.js) - Google Ads: 1050678622 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-1050678622"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'AW-1050678622');
</script>
</head>
<body>
    <div class="main-page-wrapper">
        <section>
            <div id="preloader">
                <div id="ctn-preloader" class="ctn-preloader">
                    <div class="animation-preloader">
                        <div class="spinner"></div>
                        <div class="txt-loading">
                            <span data-text-preloader="W" class="letters-loading">
                                W
                            </span>
                            <span data-text-preloader="B" class="letters-loading">
                                B
                            </span>
                            <span data-text-preloader="U" class="letters-loading">
                                U
                            </span>
                            <span data-text-preloader="I" class="letters-loading">
                                I
                            </span>
                            <span data-text-preloader="L" class="letters-loading">
                                L
                            </span>
                            <span data-text-preloader="D" class="letters-loading">
                                D
                            </span>
                            <span data-text-preloader="E" class="letters-loading">
                                E
                            </span>
                            <span data-text-preloader="R" class="letters-loading">
                                R
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="theme-main-menu sticky-menu theme-menu-two">
            <div class="d-flex align-items-center justify-content-center">
                <div class="logo">
                    <a href="/"><img src="images/website/logo_wscprinter.png" alt=""></a>

                </div>
                <nav id="mega-menu-holder" class="navbar navbar-expand-lg">
                    <div class="container nav-container">
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="flaticon-menu-of-three-lines"></i>
                        </button>
                        <div class="navbar-collapse collapse" id="navbarSupportedContent">
                            <div class="d-lg-flex justify-content-between align-items-center">
                                <ul class="navbar-nav">
                                    <li class="nav-item position-static">
                                        <a class="nav-link text-dark position-static" asp-area="" asp-page="/Index">@Localizer["Home"]</a>
                                    </li>
                                    <li class="nav-item position-static">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/HowDoesItWork/Index">Funzionalit&agrave;</a>
                                    </li>

                                    <li class="nav-item position-static">
                                        <a class="nav-link text-dark" asp-area="" asp-page="/Explore/Index">Esplora</a>
                                    </li>
                                </ul>
                                <ul class="right-widget">
                                    <li class="d-sm-flex">
                                        <ul class="user-login-button  contacts d-flex align-items-center justify-content-center">
                                            <li>
                                                <a href="https://wa.me/+390287388790/?text=Sono%20interessato%20a%20Wsc%20Printer%20Web%20To%20Print" target="_blank"><i class="fa fa-whatsapp icon-whatsapp"></i> <span class="text-whatsapp">WhatsAppa con noi</span> </a>
                                            </li>                                          
                                            <li>
                                                <i class="fa fa-phone"></i> 02 87 388 790
                                            </li>
                                           
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
        @RenderBody()
        <footer class="theme-footer-eight mt-20">
            <div class="top-footer">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-lg-3 col-md-4 footer-list">
                            <h5 class="footer-title">Prodotto</h5>
                            <ul>
                                <li><a asp-area="" asp-page="/HowDoesItWork/Index">Funzionalit&agrave;</a></li>
                                <li><a asp-area="" asp-page="/Explore/Index">Esplora</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-4 footer-list">
                            <h5 class="footer-title">Azienda</h5>
                            <ul>
                                <li><a href="https://www.dynamicsoft.it/chi-siamo-dynamicsoft/" target="_blank">Info su Dynamicsoft S.r.l.</a></li>
                                <li><a href="https://www.dynamicsoft.it/informativa-privacy/" target="_blank">Privacy policy</a></li>
                                <li><a href="https://www.dynamicsoft.it/informativa-utilizzo-cookie/" target="_blank">Cookie policy</a></li>
                                <li><a href="mailto:commerciale@dynamicsoft.it"><i class="fa fa-envelope"></i> commerciale@dynamicsoft.it</a></li>
                                <li><a href="tel:0287388790" class="phone"><i class="fa fa-phone"></i> 02 87 388 790</a></li>
                                <li><a href="https://wa.me/+390287388790/?text=Sono%20interessato%20a%20Wsc%20Printer%20Web%20To%20Print" target="_blank"><i class="fa fa-whatsapp icon-whatsapp"></i> WhatsAppa con noi </a></li>                                          
                            
                            
                            </ul>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-12 footer-about-widget">
                            <div class="logo"><a href="index"><img src="/images/website/logo_wscprinter.png" alt="dynamicsoft"></a></div>
                            <p>
                                Wsc Printer è una piattaforma leader nel settore Web To Print e Print MIS/ERP, con centinaia di clienti in tutto il mondo. <br />La piattaforma è sviluppata e commercializzata esclusivamente da Dynamicsoft S.r.l. e Dynamicsoft Doo
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="bottom-footer mt-50 md-mt-30">
                    <div class="row">
                        <div class="col-lg-6 order-lg-2 mb-20">
                            <p class="copyright text-center text-lg-left">
                                &copy; 2021 -  Dynamicsoft s.r.l. - P.Iva IT02720040647
                            </p>
                        </div>
                        <div class="col-lg-6 order-lg-3 mb-20">
                            <ul class="d-flex justify-content-center justify-content-lg-end social-icon">
                                <li><a href="https://www.facebook.com/dynamicsoft/?fref=ts" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://twitter.com/dynamicsoftsrl" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.linkedin.com/company/dynamicsoft-srl" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </footer>
        
        <script src="/js/custom/wbuilder_foot.js"></script>
        <script src="/vendor/jquery.min.js"></script>
        <script src="/vendor/popper.js/popper.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
        <script src="/vendor/mega-menu/assets/js/custom.js"></script>
        <script src="/vendor/aos-next/dist/aos.js"></script>
        <script src="/vendor/jquery.appear.js"></script>
        <script src="/vendor/jquery.countTo.js"></script>
        <script src="/vendor/slick/slick.min.js"></script>
		<script src="/vendor/fancybox/dist/jquery.fancybox.min.js"></script>
        <script src="/js/theme.js"></script>
    </div>
    <script>
        function scrollImage_hover() {
            $('.theme-demo:not(.theme-comming-soon)')
                .mouseenter(function () {
                    var height = $(this).find('.image-wrapper').height() - $(this).find('.image-wrapper img').height();
                    if (height < 0) {
                        $(this).find('.image-wrapper img').css('transform', 'translateY(' + height + 'px)');
                    }
                })
                .mouseleave(function () {
                    $(this).find('.image-wrapper img').css('transform', 'translateY(0)');
                });
        };

        $(document).ready(function () {
            scrollImage_hover();




        });


        

    </script>


 <script type="text/javascript" id="zsiqchat">var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode: "5c4c12d99c3d443a324c9bd26d5ca7473c1b814bf888e70af4135e9ed4ee805f1a2010ab7b6727677d37b27582c0e9c4", values:{},ready:function(){}};var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);</script>


    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>
