
@using System.Globalization
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    //
    // https://stackoverflow.com/questions/9414123/get-cultureinfo-from-current-visitor-and-setting-resources-based-on-that
    //
    // var locale = Request.HttpContext.Features.Get<IRequestCultureFeature>();
    // var BrowserCulture = locale.RequestCulture.UICulture.ToString();
    // Model.HttpContext.Features.Get<IRequestCultureFeature>();
}

<!DOCTYPE html>
<html lang="it">
 <head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Web to print, piattaforma web to print, sito web to print, ecommerce stampa">
    <meta name="description" content="Crea il tuo sito Web To Print con Wsc Printer, senza alcuna nozione tecnica. Personalizzalo: scegli il design, modificalo e pubblica il tuo sito Web To Print oggi stesso.">
    <meta property="og:site_name" content="IT - Wsc Printer Web To Print">
    <meta property="og:url" content="https://www.wscprinter.it">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Wsc Printer Builder AI - @ViewData["Title"]">
    <meta name='og:image' content="/images/website/logo_wscprinter.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ee811f">
    <meta name="msapplication-navbutton-color" content="#ee811f">
    <meta name="apple-mobile-web-app-status-bar-style" content="#ee811f">
    <meta name="robots" content="index, follow">
    <title>Wsc Printer Builder AI - @ViewData["Title"]</title>
    <link rel="canonical" href="https://www.wscprinter.it">
    <link rel="icon" type="image/png" sizes="56x56" href="~/images/fav-icon/icon.png">
    <link rel="stylesheet" type="text/css" href="~/fonts/recoleta/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/gordita/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">
</head>
<body>
    <div class="main-page-wrapper p0">
        <!-- ===================================================
            Loading Transition
        ==================================================== -->
        <section>
            <div id="preloader">
                <div id="ctn-preloader" class="ctn-preloader">
                    <div class="animation-preloader">
                        <div class="spinner"></div>
                        <div class="txt-loading">
                            <span data-text-preloader="W" class="letters-loading">
                                W
                            </span>
                            <span data-text-preloader="B" class="letters-loading">
                                B
                            </span>
                            <span data-text-preloader="U" class="letters-loading">
                                U
                            </span>
                            <span data-text-preloader="I" class="letters-loading">
                                I
                            </span>
                            <span data-text-preloader="L" class="letters-loading">
                                L
                            </span>
                            <span data-text-preloader="D" class="letters-loading">
                                D
                            </span>
                            <span data-text-preloader="E" class="letters-loading">
                                E
                            </span>
                            <span data-text-preloader="R" class="letters-loading">
                                R
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        @RenderBody()

        <!-- Optional JavaScript _____________________________  -->
        <!-- jQuery -->
        <script src="/vendor/jquery.min.js"></script>
        <script src="/vendor/jquery-ui.js"></script>
        <!-- Popper js -->
        <script src="/vendor/popper.js/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!-- menu  -->
        <script src="/vendor/mega-menu/assets/js/custom.js"></script>
        <!-- AOS js -->
        <script src="/vendor/aos-next/dist/aos.js"></script>
        <!-- js count to -->
        <script src="/vendor/jquery.appear.js"></script>
        <script src="/vendor/jquery.countTo.js"></script>
        <!-- MixIt Up -->
        <script src="/vendor/mixitup-3/mixitup.min.js"></script>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- Theme js -->
        <script src="/js/theme.js"></script>
    </div> <!-- /.main-page-wrapper -->

    <script>
        function scrollImage_hover() {
            $('.theme-demo:not(.theme-comming-soon)')
                .mouseenter(function () {
                    var height = $(this).find('.image-wrapper').height() - $(this).find('.image-wrapper img').height();
                    if (height < 0) {
                        $(this).find('.image-wrapper img').css('transform', 'translateY(' + height + 'px)');
                    }
                })
                .mouseleave(function () {
                    $(this).find('.image-wrapper img').css('transform', 'translateY(0)');
                });
        };

        $(document).ready(function () {
            scrollImage_hover();
        });
        function effect(divName) {
            $("#alertError").removeClass("wbuilder-hidden");
            var options = {};
            $( "#alertError" ).effect( "bounce", options, 500, callback );
        };
        function callback() {
                $("#alertError").removeAttr("style").hide().fadeIn();
        };
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
