@page
@model WscPrinter_Setup.Pages.WscBuilder.Step01_intro.Step01IntroModel
@{
  ViewData["Title"] = "Step-1";
}

<!--

<h1>Step 01</h1>
<p>@Localizer["follow this"]</p>
<p>@Localizer["based on"]</p>


=============================================
  WBUILDER - STEP 1
==============================================
-->

<div class="wbuilder-page">
  <div class="wbuilder-column-1 d-lg-flex align-items-center">
    <div class="wbuilder-img-logo"><a asp-area="" asp-page="/Index"><img src="/images/website/logo_wscprinter.png" alt=""></a></div>
    <div class="wbuilder-info" data-aos="fade-right" data-aos-duration="1200">
      <h2>Fai creare a <br /><span>Wsc Printer Builder AI</span> (Artificial Intelligence)  <br /> il tuo sito <b>Web To Print</b> </h2>
    </div>
  </div>
  <div class="wbuilder-column-2 d-lg-flex align-items-center">
    <div class="wbuilder-info" data-aos="fade-left" data-aos-duration="1200">
      <p class="text">Rispondi a qualche domanda<br /> e otterrai automaticamente un sito Web To Print <br />creato apposta per te in pochi minuti.</p>
      <div class="wbuilder-button">
        <a class="theme-btn-nine" asp-page="/WscBuilder/Step02_company_type/Index">Inizia ora</a>
      </div>

    </div>

  </div>
</div>
