@page
@model WscPrinter_Setup.Pages.WscBuilder.Step07_choose_layout.Step07ChooseLayoutModel
@{
}

<h1>Step 7</h1>
<p>@Localizer["choose your website"]</p>
<div>
  <div style="border:2px solid ">
    <div>the web one</div>
    <div><button>test this</button></div>
    <div><button>buy this this</button></div>
  </div>
  <div style="border:2px solid ">
    <div>the web two</div>
    <div><button>test this</button></div>
    <div><button>buy this this</button></div>
  </div>
  <div style="border:2px solid ">
    <div>the web three</div>
    <div><button>test this</button></div>
    <div><button>buy this this</button></div>
  </div>
</div>
<div>
  <div style="border:2px solid ">
    <div>the web four</div>
    <div><button>test this</button></div>
    <div><button>buy this this</button></div>
  </div>
  <div style="border:2px solid ">
    <div>the web five</div>
    <div><button>test this</button></div>
    <div><button>buy this this</button></div>
  </div>
  <div style="border:2px solid ">
    <div>the web six</div>
    <div><button>test this</button></div>
    <div><button>buy this this</button></div>
  </div>
</div>

<a asp-page="/WscBuilder/Step08-ready-to-go/Index">Click</a>
