@page
@model WscPrinter_Setup.Pages.Test.TestStep.TestStepModel
@{
}


<h1>Step 01</h1>
<p>@Localizer["follow this"]</p>
<p>@Localizer["based on"]</p>
<a asp-page="/WscBuilder/Step02-company-type/Index">@Localizer["Start the process"]</a>
