@page
@model WscPrinter_Setup.Pages.WscBuilder.Step01_intro.Step01IntroModel
@{

}


<h1>Step 01</h1>
<p>@Localizer["follow this short path, it will help you to configure your site"]</p>
<p>@Localizer["based on your choices, you will be able to see a series of possible customizations"]</p>
<a asp-page="/WscBuilder/Step02-company-type/Index" >@Localizer["Start the process"]</a>
