@page
@model WscPrinter_Setup.Pages.WscBuilder.Step08_ready_to_go.Step08ReadyToGoModel
@{
}

<h1>Step 8</h1>


<a href="#" onclick="leave();">Vai al tuo sito</a>
<p>@Localizer["So this is your preferred one"]</p>
<div>
  <div style="border:2px solid ">
    <div>the web XXX</div>
    <div><button>test this</button></div>
    <div><button>buy this this</button></div>
  </div>
</div>
<p>@Localizer["We will contact you soon..."]</p>

<script>
  function leave() {
    var url = 'https://www.dynamicsoft.it/';
    window.open(url, '_blank');
  }
</script>
