@page
@model WscPrinter_Setup.Pages.WscBuilder.Step08_ready_to_go.Step08ReadyToGoModel
@{
}

<h1>Step 8</h1>


<a href="#" onclick="leave();">Vai al tuo sito</a>


<script>
  function leave() {
    var url = 'https://www.dynamicsoft.it/';
    window.open(url, '_blank');
  }
</script>